<%= render 'pages/level1_nav' %>
<h1>Time Logs</h1>
<%= render 'index_nav' %>


<table cellpadding="5">
    <tr>
        <th>delete?</th>
        <th>id</th>
        <th>week (week num id)</th>
        <th>project</th>
        <th>user</th>
        <th>progress_comment</th>
    </tr>
    <% @time_logs.each do |time_log| %>
        <tr>
            <td><%= button_to "Delete", TimeLog.find(time_log.id), :method => :delete %></td>
            <td><%= time_log.id %></td>
            <td><%= week_desc_from_week_num_id(time_log.week_num_id) %> (<%= time_log.week_num_id%>)</td>
            <td><%= link_to time_log.project.name, project_path(time_log.project) %></td>
            <td><%= link_to time_log.user.last_name, user_path(time_log.user) %></td>
            <td><%= time_log.progress_comment %></td>
        </tr>
    <%end %>
</table>

<br>


