
<%= render 'pages/level1_nav' %>
<h1>Bulk Time Log Entry</h1>

<%= form_with model: @form_bulk_time_log do |form| %>
    <%= form.select :user_id, User.all.collect { |user| [user.last_name, user.id] }, {:prompt => "Select user"} %>
    <%= form.select :week_num_id, collect_weeks(), {:selected => week_num_id(Date.today)} %>
    <br>
    <br>
    <br>
    <br>
    <% project_collection = Project.all.collect { |project| [project.name, project.id] } %>
    <% project_count = 3%>

    <table>
        <tr>
            <th></th>
            <% project_count.times do%>
            <th><%= select_tag "form_bulk_time_log[project_ids][]", options_for_select(project_collection), include_blank: "Select Project"  %></th>
            <% end%>
        </tr>
        <tr>
            <td>Monday</td>
            <% project_count.times do%>
            <td><%= form.number_field :mon_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :mon_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Tuesday</td>
            <% project_count.times do%>
            <td><%= form.number_field :tues_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :tues_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Wednesday</td>
            <% project_count.times do%>
            <td><%= form.number_field :wed_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :wed_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Thursday</td>
            <% project_count.times do%>
            <td><%= form.number_field :thur_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :thur_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Friday</td>
            <% project_count.times do%>
            <td><%= form.number_field :fri_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :fri_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Saturday</td>
            <% project_count.times do%>
            <td><%= form.number_field :sat_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :sat_progress_comments, multiple: true %></td>
            <% end%>
        </tr>
        <tr>
            <td>Sunday</td>
            <% project_count.times do%>
            <td><%= form.number_field :sun_hours, multiple: true, step: 0.25%></td>
            <% end%>
        </tr>
        <tr>
            <td></td>
            <% project_count.times do%>
            <td><%= form.text_area :sun_progress_comments, multiple: true %></td>
            <% end%>
        </tr>

    </table>
    <br>
    <br>


    <%= form.submit "Submit" %>
<% end %>