<%= render 'pages/level1_nav' %>
<h1><%= @user.last_name %></h1>

<p><strong>Projects</strong></p>
<table cellpadding="5">
    <%@user.projects.sort_by {|obj| obj.name}.each do |project| %>
        <tr>
            <td>
                <%= link_to project.name, project_path(project) %>
            </td>
        </tr>
    <%end%>

</table>

<p><strong>Time Logs</strong></p>
<table cellpadding="5">
    <tr>
        <th>Project</th>
        <th>Progress comment</th>
    </tr>
    <%@user.time_logs.each do |time_log| %>
        <tr>
            <td>
                <%= time_log.project.name %>
            </td>
            <td>
                <%= time_log.progress_comment %>
            </td>
        </tr>
    <%end%>
</table>