<%= render 'pages/level1_nav' %>
<h1><%= @project.name %></h1>

<p><strong>Users</strong></p>
<table cellpadding="5">
    <%@project.users.sort_by {|obj| obj.last_name}.each do |user| %>
        <tr>
            <td>
                <%= link_to user.last_name, user_path(user) %>
            </td>
        </tr>
    <%end%>
</table>


<p><strong>Assign User to Project</strong></p>
<%= form_with model: ProjectRole do |form| %>
    <%= form.select :user_id, User.all.collect { |user| [user.last_name, user.id] }, {:prompt => "Select user"} %>
    <%= form.hidden_field :project_id, value: @project.id %>
    <%= form.submit "Assign" %>
<% end %>

<p><strong>Time Logs</strong></p>
<table cellpadding="5">
    <tr>
        <th>User</th>
        <th>Progress comment</th>
    </tr>
    <%@project.time_logs.each do |time_log| %>
        <tr>
            <td>
                <%= time_log.user.last_name %>
            </td>
            <td>
                <%= time_log.progress_comment %>
            </td>
        </tr>
    <%end%>
</table>